psycopg2-binary==2.8.2
green==2.15.0
pytest-cov==2.6.1
pycodestyle==2.5.0
sphinx==2.0.1
-e git+https://github.com/mobolic/facebook-sdk.git#egg=facebook-sdk
splinter==0.10.0
cryptography==2.4.2
radon==2.4.0
pylint==2.2.2
flask==1.0.2
pydocstyle==3.0.0
APScheduler==3.5.3
gunicorn==19.9.0
selenium==3.141.0
