psycopg2-binary==2.7.5
green==2.12.1
pytest-cov==2.5.1
pycodestyle==2.4.0
sphinx==1.7.5
-e git+https://github.com/mobolic/facebook-sdk.git#egg=facebook-sdk
splinter==0.8.0
cryptography==2.2.2
radon==2.2.0
pylint
flask
pydocstyle
APScheduler==3.0.0
gunicorn
